{{ ansible_managed | comment }}

{% for section in item.config.keys() %}

[{{ section }}]
{% for item in item.config[section] | dict2items %}
{{ item.key }}={{ item.value }}
{% endfor %}
{% endfor %}
